// - index.jade
doctype html
  head
    block title
      title Snack Tzar - The Future of Tzars
    block css
      link(href='css/lib/bootstrap-theme.min.css', rel='stylesheet')
      link(href='css/lib/bootstrap.min.css', rel='stylesheet')
      link(href='css/app.css', rel='stylesheet')
      script(type='text/javascript').
        //
          (function() {
            if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
               var msViewportStyle = document.createElement("style");
               msViewportStyle.appendChild(document.createTextNode("@-ms-viewport{width:auto!important}"));
               document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
            }
          })();
        //
  body(ng-app='snackTzarApp')
    div(role='navigation').navbar.navbar-inverse.navbar-fixed-top
      div.container
        div.navbar-header
          button(type='button' data-toggle='collapse' data-target='.navbar-collapse').navbar-toggle
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(ng-href='#').navbar-brand Snack Tzar
        div.collapse.navbar-collapse
          ul(ng-controller='headerCtrl').nav.navbar-nav
            li(ng-class='{active: isActive('/')}')
              a(ng-href='#')
            li(ng-class='{active: isActive('/cart')}' ng-hide='')
              a(ng-href='#/cart')
            li(ng-class='{active: isActive('/fulfilled')}')
              a(ng-href='#/fulfilled')
            li(ng-class='{active: isActive('/requests')}' ng-hide='')
              a(ng-href='#/requests')
            li(ng-class='{active: isActive('/about')}')
              a(ng-href='#/about')
            li(ng-class='{active: isActive('/admin')}' ng-hide='isAdmin()')
              a(ng-href='#/admin')
          ul.nav.navbar-nav.navbar-right
            li
              a(ng-click='' ng-hide='')
            li
              a(ng-click='' ng-hide='')
        //.navbar-collapse

    //main block of content for the application
    div.container
      div.snack-tzr
        div(ng-view='')
          block content
            p The default content is weak within this one.
      
    block scripts
      script(src='js/lib/angular.min.js', type='text/javascript')
      script(src='js/lib/angular-route.min.js', type='text/javascript')
      script(src='js/lib/bootstrap.min.js', type='text/javascript')
      script(src='js/lib/jquery.min.js', type='text/javascript')
      script(src='js/shiv/html5shiv.min.js', type='text/javascript')
      script(src='js/shiv/html5shiv-printshiv.min.js', type='text/javascript')
    
    block appScripts
      script(src='js/app.js', type='text/javascript')
    
    block controllers
